*{
    font-family: "Cabin", sans-serif;
    
}


body{
    background-color: rgb(0, 12, 24);
    color: rgb( 0, 184, 197);
    margin: 40px;
    width: 100vw;
    
}

.aluno{
    display: flex;
    max-width: 450px;
    justify-content: space-between;
    background-color: rgb(0, 23, 45);
    color: rgb( 0, 184, 197);
}


.nome{
    flex-grow: 1;
}

.estilo{
    padding: 15px;
    background-color: rgb(0, 23, 45);
    color: rgb( 0, 184, 197);
}

button{
    margin-top: 20px;
    background-color: rgb(38, 0, 255);
    color: rgb( 0, 184, 197);
    border: 3px solid rgb( 0, 184, 197);
    padding: 10px 20px;
    border-radius: 5px;
}

button:hover{
    margin-top: 20px;
    background-color: rgb( 0, 184, 197);
    color: rgb(38, 0, 255);
    border:3px solid rgb(38, 0, 255);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.input-nota{
    background-color: rgb(0, 12, 24);
    color: rgb( 0, 184, 197);
    border: 1px dashed rgb( 0, 184, 197);
    width: 40px;
}

.reprovado{
    background-color: red;
}

.aprovado{
    background-color: green;
}


/*Nome: Rafael Gonçalves Batista de Moura
Matricula: 20222TSIS0601*/ 